<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Sign Up</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/material-icon/css/material-design-iconic-font.min.css') }}">

    <!-- Main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">

    {% include '/components/head.html' %}

</head>
<body>

    <div class="main">

        {% include '/components/navbar1.html' %}

        <!-- Sing in  Form -->
        <section class="sign-in" style="padding-top:5rem">
            <div class="container1" id="signinid">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{{ url_for('static', filename='assets/img/signin-image.jpg') }}" alt="sing up image"></figure>
                        <a href="{{ url_for('index') }}" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Hello, Welcome Back!</h2>
                        <form method="POST" action="" class="register-form" id="login-form">
                            <div class="form-group">
                                {{ form.hidden_tag() }}
                                {{ form.u_email }}
                            </div>
                            <div class="form-group">
                                {{ form.u_pass }}
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div>
                            <div class="form-group form-button">
                                {{ form.submit }}
                                <!--<a href="{{ url_for('mainPage') }}">Login</a>-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>


    </div>

    <!-- JS -->
    <script src="{{ url_for('static', filename='assets/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>