<!DOCTYPE html>
<html lang="en">

<head>
    {% include '/components/head.html' %}
</head>

<body id="page-top">

    {% include '/components/navbar.html' %}

    <div class="container-fluid">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category,message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% include '/components/indexMainBody.html' %}
        
        <!--Textarea-->
        <!--<div>
            <textarea id="tiny"></textarea>
        </div>-->

        {% include '/components/footer.html' %}

    </div>

</body>

</html>