<div class="collapse navbar-collapse" id="navbarSupportedContent2">
	<ul class="navbar-nav ms-auto">
		<li class="nav-item"><a class="nav-link active"
			aria-current="page" href="index.jsp"> <img
				src="{{ url_for('static', filename='assets/icon/bootstrap-icons-1.8.2/house-door.svg') }}" width="25"
				height="30" class="d-inline-block align-text-top"></a></li>


		<li class="nav-item"><a class="nav-link"
			aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#cart"> <img
				src="{{ url_for('static', filename='assets/icon/bootstrap-icons-1.8.2/cart-dash.svg') }}" width="25"
				height="30" class="d-inline-block align-text-top position-relative"><span class="position-absolute top-25 start-75 translate-middle badge rounded-pill bg-danger cart-items"></span>
				</a></li>


		<li class="nav-item"><a class="nav-link"
			aria-current="page" href="thank_you.jsp"> <img
				src="{{ url_for('static', filename='assets/icon/bootstrap-icons-1.8.2/power.svg') }}" width="25"
				height="30" class="d-inline-block align-text-top"></a></li>
	</ul>
</div>