<footer class="text-center">
    <div class="container text-muted py-4 py-lg-5">
      <ul class="list-inline">
        <li class="list-inline-item me-4">
          <a class="link-secondary active" href="#">Home</a>
        </li>
        <li class="list-inline-item me-4">
          <a class="link-secondary" href="#">About Us</a>
        </li>
        <li class="list-inline-item">
          <a class="link-secondary" href="#">Report a Problem</a>
        </li>
      </ul>
      <p class="mb-0">Copyright ©️ 2022 Brand</p>
    </div>
</footer>