<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
</head>
<body>
    <!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Gratpad</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">A personal Gratitude Journaling website just for you.</h2>
                <a class="btn btn-primary" href="#about">Get Started</a>
            </div>
        </div>
    </div>
</header>

<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <h2 class="text-white mb-4">What is Gratitude Journaling?</h2>
                <p class="text-white-50">
                    //ToDo - Will write something here
                    <br><br>
                    <a class="btn btn-primary" href="{{ url_for('about') }}">Read More</a>
                </p>

            </div>
        </div>
        <!--<img class="img-fluid" src="static/assets/img/index2.png" />-->
    </div>
</section>


<!-- Projects-->
<section class="projects-section bg-light" id="projects">
    <div class="container-fluid px-4 px-lg-5">

        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-7 col-lg-6">
                <img class="img-fluid mb-3 mb-lg-0" src="static/assets/img/bg-masthead.jpg" />
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-start">
                    <h4>Content 1</h4>
                    <p class="text-black-50 mb-0">Desc 1</p>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Services-->
<section class="content-section bg-primary text-white text-center" id="services">
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading">
        </div>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-like"></i></span>
                <h4><strong>User Friendly</strong></h4>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-heart"></i></span>
                <h4><strong>Secure</strong></h4>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-lock"></i></span>
                <h4><strong>24X7 Customer Support</strong></h4>
            </div>
            <div class="col-lg-3 col-md-6">
                <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-mustache"></i></span>
                <h4><strong>Portable</strong></h4>
            </div>
        </div>
    </div>
</section>

    <!-- Sign up form -->
<section class="signup" style="padding-top:5rem">
    <div class="container1" >
        <div class="signup-content" id="signupid">
            <div class="signup-form">
                <h2 class="form-title">New to GratPad? We Welcome you</h2>
                <form method="POST" action="" class="register-form" id="register-form">
                    <div class="form-group">
                        <i class="zmdi zmdi-account material-icons-name"></i>
                        {{ form.hidden_tag() }}
                        {{ form.u_name }}
                    </div>
                    <div class="form-group">
                        <i class="zmdi zmdi-email"></i>
                        {{ form.u_email }}
                    </div>
                    <div class="form-group">
                        <i class="zmdi zmdi-lock"></i>
                        {{ form.u_pass }}
                    </div>
                    <div class="form-group">
                        {{ form.u_repass }}
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                        <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                    </div>
                    <div class="form-group form-button">
                        {{ form.submit }}
                    </div>
                </form>
            </div>
            <div class="signup-image">
                <figure><img src="{{ url_for('static', filename='assets/img/signup-image.jpg') }}" alt="sing up image"></figure>
                <a href="{{ url_for('userSignIn') }}" class="signup-image-link">I am already member</a>
            </div>
        </div>
    </div>
</section>



</body>
</html>

